<%= form_with model: [@test, @question] do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p>
  <%= form.hidden_field :test_id, value: hidden_field_test_id %>
  <p><%= form.submit %></p>
<% end %>
