<h1> A list of questions for test - <%= @test.title %> </h1>

<p><%= link_to 'New question', new_test_question_path %></p>

<table>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td><%= link_to 'Show', test_question_path(id: question.id) %></td>
      <td><%= link_to 'Edit', edit_test_question_path(id: question.id) %></td>
      <td><%= link_to 'Delete',
                      test_question_path(test_id: @test.id, id: question.id),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
