<h1>Pass the <%= @passed_test.test.title %> test</h1>

<b><%= @passed_test.current_question.body %></b>

<p>Question # <%= @passed_test.current_question_number %> of a <%= @passed_test.test.questions.count %></p>

<%= form_with url: passed_test_path(@passed_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @passed_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= form.submit 'Next' %></p>
<% end %>
