<h1><%= @test.title %></h1>

<p><%= link_to t('.new'), new_admin_test_question_path(test_id: @test.id) %></p>

<h1><%= t('.list') %></h1>

<table>
  <tr>
    <th><%= t('.body') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

  <% @questions.each do |question| %>
  <tr>
    <td><%= question.body %></td>
    <td><%= link_to t('.show'), admin_question_path(question) %></td>
    <td><%= link_to t('.edit'), edit_admin_question_path(question) %></td>
    <td><%= link_to t('.delete'), admin_question_path(question), method: :delete, data: { confirm: t('.confirm') } %>
    </td>
  </tr>
  <% end %>
</table>

<p><%= link_to t('.edit'), edit_admin_test_path(@test) %> | <%= link_to t('.back'), admin_tests_path %></p>
