<% if user_signed_in? %>
  <p><%= link_to 'TestGuru', root_path %> |
     <%= t('.welcome', name: current_user.name) %> |
     <%= link_to t('.exit'), destroy_user_session_path, method: :delete %>
  </p>
<% else %>
  <p><%= link_to 'TestGuru', root_path %> | <%= link_to t('.signup'), new_user_registration_path %> |
     <%= link_to t('.login'), new_user_session_path %>
  </p>
<% end %>
<hr>
